# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env*.local

# Dependencies
node_modules/

# Build output
dist/
.cache/
.vercel/

# Vercel og / edge function build artifacts
.output/
.next/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
Thumbs.db
ehthumbs.db
